<p id="notice"><%= notice %></p>

<h1>Serviced Routes</h1>

<table>
  <thead>
    <tr>
      <th>Route</th>
      <th>Service provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serviced_routes.each do |serviced_route| %>
      <tr>
        <td><%= serviced_route.route_id %></td>
        <td><%= serviced_route.service_provider_id %></td>
        <td><%= link_to 'Show', serviced_route %></td>
        <td><%= link_to 'Edit', edit_serviced_route_path(serviced_route) %></td>
        <td><%= link_to 'Destroy', serviced_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serviced Route', new_serviced_route_path %>
