<p id="notice"><%= notice %></p>

<p>
  <strong>City start:</strong>
  <%= @transportation.city_start_id %>
</p>

<p>
  <strong>City end:</strong>
  <%= @transportation.city_end_id %>
</p>

<p>
  <strong>Service provider:</strong>
  <%= @transportation.service_provider %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @transportation.departure_time %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @transportation.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @transportation.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @transportation.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @transportation.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @transportation.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @transportation.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @transportation.sunday %>
</p>

<p>
  <strong>Traveltime:</strong>
  <%= @transportation.traveltime %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transportation.price %>
</p>

<p>
  <strong>Services:</strong>
  <%= @transportation.services %>
</p>

<%= link_to 'Edit', edit_transportation_path(@transportation) %> |
<%= link_to 'Back', transportations_path %>
