<p id="notice"><%= notice %></p>

<p>
  <strong>City 1:</strong>
  <%= @route.city_1_id %>
</p>

<p>
  <strong>City 2:</strong>
  <%= @route.city_2_id %>
</p>

<p>
  <strong>Length:</strong>
  <%= @route.length %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
