<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Offset x:</strong>
  <%= @city.offset_x %>
</p>

<p>
  <strong>Offset y:</strong>
  <%= @city.offset_y %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
